
@{
    ViewBag.Title = "Index";
}

<div class="tableLayout-container">
    <table id="paginator">
        <thead>
            <tr>
                <th data-fieldname="id" width ="60px">Id</th>
                <th data-fieldname="first_name" width ="180px">First-name</th>
                <th data-fieldname="last_name" width ="180px">Last-name</th>
                <th data-fieldname="email" width ="250px">Email</th>
                <th data-fieldname="gender" width ="100px">Gender</th>
                <th data-fieldname="ip_address" width ="200px">Ip-address</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td>1</td>
                <td>Andreea</td>
                <td>Iliuta</td>
                <td>ilitaandreea@gmail.com</td>
                <td>female</td>
                <td>121.212.21.21</td>
            </tr>
            <tr class="even">
                <td>2</td>
                <td>Oana</td>
                <td>Ioana</td>
                <td>ioana@gmail.com</td>
                <td>female</td>
                <td>121.212.21.21</td>
            </tr>
        </tbody>
     </table>
    <div class="paging-container">
        <div class="manage-pages">
            <div id="first-page"><a class="button-first-page">&laquo</a></div>
            <div id="previous-page"><a class="button-previous-page" href="#">&lt</a></div>
            <div id="current-page">
                <span>
                    <a class="button-current-page">1</a>
                    <a class="button-current-page">2</a>
                    <a class="button-current-page">3</a>
                    <a class="button-current-page">4</a>
                    <a class="button-current-page">5</a>
                </span>
            </div>
            <div id="next-page"><a class="button-next-page" href="#">&gt</a></div>
            <div id="last-page"><a class="button-last-page" href="#">&raquo</a></div>
        </div>

        <div class="manage-items-per-page">
            <div class="items-per-page-container">
                <div id="label-items"> <p>Show</p></div>
                <div id="drop-down-items-per-pag">
                    <select id="items-select">
                        <option value="10" selected="selected">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div id="label-items"> <p>entries</p></div>
                <div class="current-items"><p>per page</p></div>
            </div>
        </div>
    </div>
</div>

@section scripts 
{
    <script src="@Url.Content("~/bundles/datagrid")"></script>
}