body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.top-border {
    font-size: 11px;
    line-height: 13px;
    font-family: "Georgia";
}
.top-border h1 {
        font-size: 18px;
        color: white;
        font-family: "Georgia";
    }

.top-menu {
    font-size: 14px;
    color: white;
    font-family: "Georgia";
    background: #55415f;
    padding-top: 48px;
    padding-bottom: 48px;
}



li {
    float: left;
    list-style-type: none;
   
}

li menu{
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        background: #55415f
    }
li menu:hover {
          background-color: white;
        }


body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.top-border {
    font-size: 11px;
    line-height: 13px;
    font-family: "Georgia";
}
.top-border h1 {
        font-size: 18px;
        color: white;
        font-family: "Georgia";
    }

.top-menu {
    font-size: 14px;
    color: white;
    font-family: "Georgia";
    background: #55415f;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right:200px;
}
.topnav{
    padding-right:200px;
}
.top-menu li {
    color: white;
    text-align: left;
    float: right;
    padding-right:15px;
}

li:hover {
            background-color: white;
        }
#main-menu {
    background: #ffffff ;
    padding-top: 5px;
    padding-bottom: 40px;
}


#main-meu h2 {
    font-size: 30px;
    line-height: 3px;
    color: rgb(0,0,0);
    font-family: "Georgia";
    text-align: right;
    margin-left: 400px;
}
#main-menu h3 {
    font-size: 12px;
    line-height: 12px;
    color: rgb(153,153,153);
    font-family: "Georgia";

    margin-left: 400px;
}
header h2 {
    font-size: 37px;
    line-height: 37px;
    color: rgb(0,0,0);
    font-family: "Georgia";
    margin-left: 400px;

   
}
h2 em {
    font-size:60px;
    font-style:normal;
}
.topnav {
    overflow: hidden;
    background-color: white;
}

    .topnav a {
        float: right;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        border-bottom-color: #ebebeb;
        font-size: 12px;
        line-height: 12px;
        color: rgb(85,65,95);
        font-family: "Georgia";   
        padding-top: 40px;

        
    }
body .content {
    background: #ebebeb;   
    padding-top:40px;
    padding-left:400px;
    padding-right: 1030px;
    padding-bottom: 50px;
}

.content h4 {
    font-size: 36px;
    line-height: 43px;
    color: rgb(51,51,51);
    font-family: "Georgia";
    text-align: left;
}
.content {
    display: table;     
    float: right;
}
.body-content .imagepage {
    padding: 50px;
    display: table;
    float: left;
}
.imagetext h5 {
    width: 380px;
    height: 110x;
    font-size: 16px;
    line-height: 22px;
    color: rgb(153,153,153);
    font-family: "Georgia";
}
.imagetext [type=button] {
    width: 140px;
    height: 31px;
    border-radius: 7px;
    background-color: #55415f;
    font-size: 16px;
    line-height: 16px;
    color: rgb(255,255,255);
    font-family: "Georgia";
    text-align: right;
}
