@{
    Layout = "~/Views/Shared/Revelation_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
}

<div class="content">

    <div class="imagepage-container">
        <img src="~/img/img.png" width="487" height="326" alt="Revelaton template" title="Preview" />
    </div>
    <div class="text-container">
        <div class="imagetext-container">
            <h4>A CATCHY TITLE</h4>
            <h5>
                Lorem ipsum dolor sit amet, cu ancillae partiendo mei.Lorem ipsum dolor sit amet, cu ancillae partiendo mei.
                <p>Elit ancillae vix an, nisl necessitatibus usu eu.Ei vidit iudicabit eam, est id solum paulo tibique, modo scaevola imperdiet pri no.</p>
            </h5>
            <a class="button" href="#">READ MORE &raquo;</a>
        </div>
    </div>
</div>


<div class="slider-container">
    <div class="slide-container1">
        <div class="slide-image1">
            <img src="~/img/1.png" width="162" height="124" alt="logo1" title="1slide" />

        </div>
        <div class="slide-text">
            <h4>Vivamuslibero Auguer</h4>
            <h5>Lorem ipsum dolor sit amet, cu ancillae partiendo mei.Lorem ipsum dolor sit amet, cu ancillae partiendo mei.</h5>
        </div>
    </div>
    <div class="slide-container2">
        <div class="slide-image2">
            <img src="~/img/2.png" width="162" height="124" alt="logo2" title="2slide" />
        </div>
        <div class="slide-text">
            <h4>Vivamuslibero Auguer</h4>
            <h5>Lorem ipsum dolor sit amet, cu ancillae partiendo mei.Lorem ipsum dolor sit amet, cu ancillae partiendo mei.</h5>
        </div>
    </div>
    <div class="slide-container3">
        <div class="slide-imag3">
            <img src="~/img/3.png" width="162" height="124" alt="logo3" title="3slide" />

        </div>
        <div class="slide-text">
            <h4>Vivamuslibero Auguer</h4>
            <h5>Lorem ipsum dolor sit amet, cu ancillae partiendo mei.Lorem ipsum dolor sit amet, cu ancillae partiendo mei.</h5>
        </div>
    </div>
    <div class="slide-container4">
        <div class="slide-image4">
            <img src="~/img/4.png" width="162" height="124" alt="logo4" title="4slide" />

        </div>
        <div class="slide-text">
            <h4>Vivamuslibero Auguer</h4>
            <h5>Lorem ipsum dolor sit amet, cu ancillae partiendo mei.Lorem ipsum dolor sit amet, cu ancillae partiendo mei.</h5>
        </div>
    </div>


</div>



